<div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
    <div style="flex: 1 1 45%; min-width: 200px; max-width: 500px; padding: 10px; box-sizing: border-box;">
        <h2 style="color:rgba(239,54,104,1); font-family: Arial; font-weight: 700;">Who We Are</h2>
        <p>
            We partner with local organizations and governments on civic-minded projects 
            that make metro Atlanta more inclusive, diverse, equitable, and accessible.
        </p>
    </div>
    <div style="flex: 1 1 45%; min-width: 200px; max-width: 500px; padding: 10px; box-sizing: border-box;">
        <h2 style="color:rgba(239,54,104,1); font-family: Arial; font-weight: 700;">What We Do</h2>
        <p>
            We hold hack nights twice a month. We invite participants to bring their ideas, 
            and to work with others to bring those ideas to life. We are software developers, 
            designers, project managers, data scientists, policy wonks, and subject-matter 
            experts.
        </p>
    </div>
</div>