<div style="display: flex; flex-wrap: wrap; gap: 10px; background-color: rgba(239,54,104,1); justify-content: center;">
    <div style="flex: 1 1 30%; min-width: 133px; max-width: 400px; padding: 10px; box-sizing: border-box; color: #fff;">
        <h3>Events</h3>
        <p>We hold civic hack nights every 2nd and 4th Monday.</p>
    </div>
    <div style="flex: 1 1 30%; min-width: 134px; max-width: 400px; padding: 10px; box-sizing: border-box; color: #fff;">
        <h3>Projects</h3>
        <p>Many of our projects are on GitHub.</p>
    </div>
    <div style="flex: 1 1 30%; min-width: 133px; max-width: 400px; padding: 10px; box-sizing: border-box; color: #fff;">
        <h3>Virtual Space</h3>
        <p>Join us on Slack for project brainstorming and connecting!</p>
    </div>
</div>