<div id="principles-wrapper">
   <div class="principle">
        <h3>Solve real problems</h3>
        <p>We solve problems that real people have, we make sure what we build works for them, and we continuously improve it.</p>
   </div> 
   <div class="principle">
        <h3>Work with, not for, the people we serve</h3>
        <p>We start with our users, the people affected by the service, and understand and respect their needs throughout the
        process.</p>
   </div> 
    <div class="principle">
        <h3>Work lean, iterate quickly</h3>
        <p>We get a working minimum viable product in front of users as early as possible and make continuous improvements based on
        how they use the service.</p>
    </div>
    <div class="principle">
        <h3>Non-partisan, but not neutral</h3>
        <p>We are an alliance of non-partisan groups, but that non-partisanship does not imply neutrality.</p>
    </div>
    <div class="principle">
        <h3>Default to open</h3>
        <p>We work in the open and collaborate with the community to help make programs and services better for everyone.</p>
    </div>
</div>
